@use "../utils" as u;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    u.$color-primary-light,
    u.$color-primary-dark
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
