@use "../utils" as u;

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: u.$color-grey-light-2;
  box-shadow: u.$shadow-dark;

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: u.$color-grey-light-2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: u.$color-grey-dark-1;
  flex: 0 0 18%; // 1st # = growth, 2nd # = shrink, 3rd # = always keep at 18%
}

.hotel-view {
  background-color: #fff;
  background-color: orangered;
  flex: 1;
}
